/* -------------- Reset CSS ----------------- */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: Arial, sans-serif;
}
span {
  display: inline;
}
div {
  display: block;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------- Reset CSS ----------------- */

.body {
  background-image: linear-gradient(to bottom right, #9936f5, #6ac059);
  background-attachment: fixed;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__page {
  color: #eaebe3;
  margin-top: 3rem;
  text-align: center;
  width: 85vw;
}
.main__page .page__title {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: bolder;
}
.main__articles {
  width: 85vw;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  /* margin: 200px auto; */
}
.article {
  width: 300px;
  height: 150px;
  background: rgba(44, 51, 51, 0.3);
  border-radius: 0.5rem;
  padding: 1rem;
}
.article .article__title {
  font-size: 1.5rem;
  color: #eaebe3;
  text-align: center;
  /* font-weight: bolder; */
  margin-bottom: 0.5rem;
}
.article .article__description {
  color: #eaebe3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.article__description .description-icon {
  font-size: 1.5rem;
}
.article__description .description-text {
  font-size: 1rem;
}

.article__btns {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background-color: #eaebe3;
}
.btn-project {
  font-size: 1.4rem;
}
.btn:hover {
  background-color: #333;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

/* ---------------------------- 1. Loader ------------------------ */
.article__example {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article__example .loading {
  max-width: 50%;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.loading__anim {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  animation: rotate 600ms infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
