/* -------------- Reset CSS ----------------- */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: Arial, sans-serif;
}
span {
  display: inline;
}
div {
  display: block;
}
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------- Reset CSS ----------------- */
:root {
  --bg-body-light: linear-gradient(to bottom right, #9936f5, #6ac059);
  --color-white: #eff8f8;
  --color-white-hover: #e5f4f5;
  --btn-light: #e0ecec;
  --btn-light-hover: #d3dfdf;
  --color-dark: #222525;
  --color-green: rgb(18, 143, 18);
  --color-green-hover: rgb(12, 131, 12);
}
.body {
  background-image: var(--bg-body-light);
  background-attachment: fixed;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__page {
  color: var(--color-white);
  margin-top: 3rem;
  text-align: center;
  width: 85vw;
}
.main__page .page__title {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: bolder;
}
.main__articles {
  width: 85vw;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  /* margin: 200px auto; */
}
.article {
  width: 300px;
  height: 150px;
  background: rgba(44, 51, 51, 0.3);
  border-radius: 0.5rem;
  padding: 1rem;
}
.article .article__title {
  font-size: 1.5rem;
  color: var(--color-white);
  text-align: center;
  /* font-weight: bolder; */
  margin-bottom: 0.5rem;
}
.article .article__description {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.article__description .description-icon {
  font-size: 1.5rem;
}
.article__description .description-text {
  font-size: 1rem;
}

.article__btns {
  display: flex;
  justify-content: space-evenly;
}
.main__back {
  margin-top: 3rem;
}
.btn-custom {
  padding: 1rem;
  background: var(--color-white);
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
  border: none;
}
.btn-custom.calculator-ctm {
  background: var(--color-green);
  color: #d3dfdf;
  cursor: pointer;
}
.btn-custom.calculator-ctm:hover {
  background: var(--color-green-hover);
  color: #d3dfdf;
}
.btn {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background-color: var(--color-white);
}
.btn-project {
  font-size: 1.4rem;
}
.btn:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
  transition: all 0.1s ease-in-out;
}

/* ---------------------------- 1. Loader ------------------------ */
.article__example {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article__example .loading {
  max-width: 50%;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.loading__anim {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  animation: rotate 600ms infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

/* ---------------------------- 2. Calculator ------------------------ */
.container {
  min-width: 33vw;
  max-width: 95vw;
}
.container > p {
  text-align: center;
}
.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 80vw;
  overflow: hidden;
  background: var(--color-white-hover);
}
.calculator__display {
  background-color: var(--color-white);
  color: var(--color-dark);
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  text-align: right;
}
.calculator__options {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid var(--btn-light);
  position: relative;
}
.calculator__options button {
  font-size: 1em;
  color: var(--color-dark);
  cursor: pointer;
  transition: all 0.3s ease;
}
.calculator__options button:hover {
  transition: all 0.3s ease;
  color: var(--color-green);
}
.option-two button {
  transition: all 0.3s ease;
  color: var(--color-green);
}
.option-two button:hover {
  transition: all 0.3s ease;
  color: var(--color-dark);
}
.history {
  width: 70%;
  height: 380px;
  background-color: var(--color-white);
  color: var(--color-dark);
  opacity: 0.9;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  left: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  overflow-x: auto;
}
.history.show {
  transition: all 0.3s ease-in-out;
  transform: translateX(0%);
}
.calculator__keys {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  justify-items: center;
}
.calculator__keys button {
  background: var(--btn-light);
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem !important;
  height: 4rem !important;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 50%;
}
.calculator__keys button:hover {
  background: var(--btn-light-hover);
  color: var(--color-dark);
}
.key--operator {
  color: var(--color-green) !important;
}
.key--operator:hover {
  color: var(--color-green-hover) !important;
}
.key--equal {
  background: var(--color-green) !important;
  color: var(--color-white) !important;
  grid-row: 5;
  grid-column: 3 / span 2;
}
.key--equal:hover {
  background: var(--color-green-hover) !important;
  color: var(--color-white) !important;
}
.key--clear {
  color: red !important;
}
.key--clear:hover {
  color: rgb(235, 2, 2) !important;
}
.text-right {
  text-align: right;
  padding: 0.2rem 0.5rem;
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 500;
}
#reset-history {
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 0.5rem;
}
